---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h3 class="post-list-heading">{{ page.list_title | default: "Blog Posts" }}</h3>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
         
          <p>{{ post.excerpt }}</p>
          {%- if site.author -%}
             <span class="p-author h-card" itemprop="name">By <a href="https://github.com/codnificent">{{ site.author }}</a></span>
          {%- endif -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </h4>
      </li>
      {%- endfor -%}
    </ul>

    <!--
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    -->
  {%- endif -%}

</div>
